<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT bookableItem ANY>
<!ATTLIST bookableItem id ID #REQUIRED>
<!ELEMENT bookingSettings ANY>
<!ATTLIST bookingSettings id ID #REQUIRED>
<!ELEMENT testPage ANY>
<!ATTLIST testPage id ID #REQUIRED>

]>
<root id="-1">
  <testPage id="1631" key="82864ff1-8104-469f-a8ca-499140bacdfa" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-06-24T11:43:17" updateDate="2016-06-24T11:43:17" nodeName="Test" urlName="test" path="-1,1631" isDoc="" nodeType="1047" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1046" nodeTypeAlias="testPage">
    <bookableItem id="1632" key="ff3875a5-62c8-424d-b98f-58e0ab2e82e5" parentID="1631" level="2" creatorID="0" sortOrder="0" createDate="2016-06-24T11:43:23" updateDate="2016-06-28T16:31:14" nodeName="book" urlName="book" path="-1,1631,1632" isDoc="" nodeType="1049" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1048" nodeTypeAlias="bookableItem">
      <minimumBookingTimePeriod><![CDATA[Hours]]></minimumBookingTimePeriod>
      <enabledBooking>1</enabledBooking>
      <minimumBookingLength>3</minimumBookingLength>
      <dailyEndTime><![CDATA[{
  "hours": 20,
  "mins": 0
}]]></dailyEndTime>
      <dailyStartTime><![CDATA[{
  "hours": 9,
  "mins": 0
}]]></dailyStartTime>
      <availabilityPerSlot>5</availabilityPerSlot>
      <enableBooking>0</enableBooking>
    </bookableItem>
    <bookableItem id="1633" key="91613549-fc24-4957-a5a2-ed578e2b2d0d" parentID="1631" level="2" creatorID="0" sortOrder="1" createDate="2016-06-24T11:43:39" updateDate="2016-06-24T11:43:39" nodeName="Convallis" urlName="convallis" path="-1,1631,1633" isDoc="" nodeType="1049" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1048" nodeTypeAlias="bookableItem">
      <enabledBooking>0</enabledBooking>
      <enableBooking>0</enableBooking>
    </bookableItem>
    <bookableItem id="1634" key="497bc62a-9e81-4eac-b8a3-3d4e1ebd6e5a" parentID="1631" level="2" creatorID="0" sortOrder="2" createDate="2016-06-24T11:43:39" updateDate="2016-06-24T11:43:39" nodeName="Ut tortor diam" urlName="ut-tortor-diam" path="-1,1631,1634" isDoc="" nodeType="1049" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1048" nodeTypeAlias="bookableItem">
      <enabledBooking>0</enabledBooking>
      <enableBooking>0</enableBooking>
    </bookableItem>
    <bookableItem id="1635" key="964caa09-f545-4828-8c23-e8d8c8f6b0b3" parentID="1631" level="2" creatorID="0" sortOrder="3" createDate="2016-06-24T11:43:39" updateDate="2016-06-24T11:43:40" nodeName="Mauris vel augue" urlName="mauris-vel-augue" path="-1,1631,1635" isDoc="" nodeType="1049" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1048" nodeTypeAlias="bookableItem">
      <enabledBooking>0</enabledBooking>
      <enableBooking>0</enableBooking>
    </bookableItem>
    <bookableItem id="1636" key="da631e8a-a0a9-4d0f-a7c5-0db2dc76b761" parentID="1631" level="2" creatorID="0" sortOrder="4" createDate="2016-06-24T11:43:39" updateDate="2016-06-24T11:43:40" nodeName="Nulla sed lobortis" urlName="nulla-sed-lobortis" path="-1,1631,1636" isDoc="" nodeType="1049" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1048" nodeTypeAlias="bookableItem">
      <enabledBooking>0</enabledBooking>
      <enableBooking>0</enableBooking>
    </bookableItem>
    <bookableItem id="1637" key="484e36a2-c41c-42c6-b5cb-0b0509d05010" parentID="1631" level="2" creatorID="0" sortOrder="5" createDate="2016-06-24T11:43:40" updateDate="2016-06-24T11:43:40" nodeName="Praesent ornare" urlName="praesent-ornare" path="-1,1631,1637" isDoc="" nodeType="1049" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1048" nodeTypeAlias="bookableItem">
      <enabledBooking>0</enabledBooking>
      <enableBooking>0</enableBooking>
    </bookableItem>
    <bookableItem id="1638" key="b0a16648-4833-4bac-b126-037fc9fa9af1" parentID="1631" level="2" creatorID="0" sortOrder="6" createDate="2016-06-24T11:43:40" updateDate="2016-06-24T11:43:40" nodeName="Bibendum felis posuere" urlName="bibendum-felis-posuere" path="-1,1631,1638" isDoc="" nodeType="1049" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1048" nodeTypeAlias="bookableItem">
      <enabledBooking>0</enabledBooking>
      <enableBooking>0</enableBooking>
    </bookableItem>
    <bookableItem id="1639" key="e2099320-ad6d-42aa-a60b-05ce2c95363a" parentID="1631" level="2" creatorID="0" sortOrder="7" createDate="2016-06-24T11:43:40" updateDate="2016-06-24T11:43:40" nodeName="Sed faucibus" urlName="sed-faucibus" path="-1,1631,1639" isDoc="" nodeType="1049" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1048" nodeTypeAlias="bookableItem">
      <enabledBooking>0</enabledBooking>
      <enableBooking>0</enableBooking>
    </bookableItem>
    <bookableItem id="1640" key="64173d01-c7f8-4936-bad8-893e3a85df3a" parentID="1631" level="2" creatorID="0" sortOrder="8" createDate="2016-06-24T11:43:40" updateDate="2016-06-24T11:43:42" nodeName="Praesent convallis tincidunt" urlName="praesent-convallis-tincidunt" path="-1,1631,1640" isDoc="" nodeType="1049" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1048" nodeTypeAlias="bookableItem">
      <enabledBooking>0</enabledBooking>
      <enableBooking>0</enableBooking>
    </bookableItem>
    <bookableItem id="1641" key="e706c3b5-8786-4329-86e1-40b3dd17abf8" parentID="1631" level="2" creatorID="0" sortOrder="9" createDate="2016-06-24T11:43:40" updateDate="2016-06-24T11:43:41" nodeName="Dolor in mollis" urlName="dolor-in-mollis" path="-1,1631,1641" isDoc="" nodeType="1049" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1048" nodeTypeAlias="bookableItem">
      <enabledBooking>0</enabledBooking>
      <enableBooking>0</enableBooking>
    </bookableItem>
    <bookableItem id="1642" key="b5a5464e-ea52-4cc0-8954-3917d41eac62" parentID="1631" level="2" creatorID="0" sortOrder="10" createDate="2016-06-24T11:43:41" updateDate="2016-06-24T11:43:42" nodeName="Suis sollicitudin non" urlName="suis-sollicitudin-non" path="-1,1631,1642" isDoc="" nodeType="1049" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1048" nodeTypeAlias="bookableItem">
      <enabledBooking>0</enabledBooking>
      <enableBooking>0</enableBooking>
    </bookableItem>
    <bookableItem id="1643" key="5a556c06-39e2-472d-9a98-0623287a29b0" parentID="1631" level="2" creatorID="0" sortOrder="11" createDate="2016-06-24T11:43:41" updateDate="2016-06-24T11:43:42" nodeName="Praesent finibus" urlName="praesent-finibus" path="-1,1631,1643" isDoc="" nodeType="1049" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1048" nodeTypeAlias="bookableItem">
      <enabledBooking>0</enabledBooking>
      <enableBooking>0</enableBooking>
    </bookableItem>
    <bookableItem id="1644" key="c9f0638e-3c39-493d-94ea-c60985a18c41" parentID="1631" level="2" creatorID="0" sortOrder="12" createDate="2016-06-24T11:43:42" updateDate="2016-06-24T11:43:43" nodeName="Integer vitae nulla diam" urlName="integer-vitae-nulla-diam" path="-1,1631,1644" isDoc="" nodeType="1049" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1048" nodeTypeAlias="bookableItem">
      <enabledBooking>0</enabledBooking>
      <enableBooking>0</enableBooking>
    </bookableItem>
    <bookableItem id="1645" key="9fa012c0-3069-4c93-b0d6-1dd4f3fbf545" parentID="1631" level="2" creatorID="0" sortOrder="13" createDate="2016-06-24T11:43:42" updateDate="2016-06-24T11:43:42" nodeName="Phasellus ultricies lacinia" urlName="phasellus-ultricies-lacinia" path="-1,1631,1645" isDoc="" nodeType="1049" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1048" nodeTypeAlias="bookableItem">
      <enabledBooking>0</enabledBooking>
      <enableBooking>0</enableBooking>
    </bookableItem>
    <bookableItem id="1646" key="201e6a3c-0667-4e82-a14d-9088c881209e" parentID="1631" level="2" creatorID="0" sortOrder="14" createDate="2016-06-24T11:43:42" updateDate="2016-06-24T11:43:42" nodeName="Ut vulputate tortor" urlName="ut-vulputate-tortor" path="-1,1631,1646" isDoc="" nodeType="1049" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1048" nodeTypeAlias="bookableItem">
      <enabledBooking>0</enabledBooking>
      <enableBooking>0</enableBooking>
    </bookableItem>
    <bookableItem id="1647" key="8e660fdb-3919-47f8-93fa-4d800522d8a5" parentID="1631" level="2" creatorID="0" sortOrder="15" createDate="2016-06-24T11:43:42" updateDate="2016-06-24T11:43:43" nodeName="Vivamus in tincidunt" urlName="vivamus-in-tincidunt" path="-1,1631,1647" isDoc="" nodeType="1049" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1048" nodeTypeAlias="bookableItem">
      <enabledBooking>0</enabledBooking>
      <enableBooking>0</enableBooking>
    </bookableItem>
    <bookableItem id="1648" key="704d7559-1f34-4d73-ac52-a99bb616448b" parentID="1631" level="2" creatorID="0" sortOrder="16" createDate="2016-06-24T11:43:43" updateDate="2016-06-24T11:43:43" nodeName="Fusce sagittis" urlName="fusce-sagittis" path="-1,1631,1648" isDoc="" nodeType="1049" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1048" nodeTypeAlias="bookableItem">
      <enabledBooking>0</enabledBooking>
      <enableBooking>0</enableBooking>
    </bookableItem>
    <bookableItem id="1649" key="100649a7-7a5c-4b16-89cf-7e771a28c3c7" parentID="1631" level="2" creatorID="0" sortOrder="17" createDate="2016-06-24T11:43:43" updateDate="2016-06-24T11:43:44" nodeName="Suspendisse non convallis" urlName="suspendisse-non-convallis" path="-1,1631,1649" isDoc="" nodeType="1049" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1048" nodeTypeAlias="bookableItem">
      <enabledBooking>0</enabledBooking>
      <enableBooking>0</enableBooking>
    </bookableItem>
    <bookableItem id="1650" key="c1557b6c-3cd8-4f61-b338-6b6340c9ada8" parentID="1631" level="2" creatorID="0" sortOrder="18" createDate="2016-06-24T11:43:43" updateDate="2016-06-24T11:43:44" nodeName="Etiam dapibus" urlName="etiam-dapibus" path="-1,1631,1650" isDoc="" nodeType="1049" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1048" nodeTypeAlias="bookableItem">
      <enabledBooking>0</enabledBooking>
      <enableBooking>0</enableBooking>
    </bookableItem>
    <bookableItem id="1651" key="33bf5cfd-15e6-4240-b287-5742de36291d" parentID="1631" level="2" creatorID="0" sortOrder="19" createDate="2016-06-24T11:43:44" updateDate="2016-06-24T11:43:44" nodeName="Quisque euismod id sapien" urlName="quisque-euismod-id-sapien" path="-1,1631,1651" isDoc="" nodeType="1049" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1048" nodeTypeAlias="bookableItem">
      <enabledBooking>0</enabledBooking>
      <enableBooking>0</enableBooking>
    </bookableItem>
    <bookableItem id="1652" key="7e83c6c8-2d4e-4fe0-b2d2-967af62b85d0" parentID="1631" level="2" creatorID="0" sortOrder="20" createDate="2016-06-24T11:43:44" updateDate="2016-06-24T11:43:44" nodeName="Dolor sit amet" urlName="dolor-sit-amet" path="-1,1631,1652" isDoc="" nodeType="1049" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1048" nodeTypeAlias="bookableItem">
      <enabledBooking>0</enabledBooking>
      <enableBooking>0</enableBooking>
    </bookableItem>
  </testPage>
</root>