<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT bookableItem ANY>
<!ATTLIST bookableItem id ID #REQUIRED>
<!ELEMENT bookingSettings ANY>
<!ATTLIST bookingSettings id ID #REQUIRED>
<!ELEMENT testPage ANY>
<!ATTLIST testPage id ID #REQUIRED>

]>
<root id="-1">
  <testPage id="1050" key="d6b5e343-0e39-440a-99aa-aa30984d7a1c" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-05-21T22:27:44" updateDate="2016-05-21T22:27:44" nodeName="Test" urlName="test" path="-1,1050" isDoc="" nodeType="1047" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1046" nodeTypeAlias="testPage">
    <bookableItem id="1051" key="00bee980-527e-4e42-9201-ceb63ddbfe56" parentID="1050" level="2" creatorID="0" sortOrder="0" createDate="2016-05-21T22:27:55" updateDate="2016-06-11T16:31:05" nodeName="Bookable1" urlName="bookable1" path="-1,1050,1051" isDoc="" nodeType="1049" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1048" nodeTypeAlias="bookableItem">
      <minimumBookingTimePeriod><![CDATA[Hours]]></minimumBookingTimePeriod>
      <enabledBooking>1</enabledBooking>
      <minimumBookingLength>2</minimumBookingLength>
      <dailyEndTime><![CDATA[{
  "hours": 20,
  "mins": 30
}]]></dailyEndTime>
      <dailyStartTime><![CDATA[{
  "hours": 9,
  "mins": 0
}]]></dailyStartTime>
      <availabilityPerSlot>5</availabilityPerSlot>
      <enableBooking>0</enableBooking>
    </bookableItem>
    <bookableItem id="1052" key="43999d5e-2ea0-4394-a5e2-7aa75a47cee5" parentID="1050" level="2" creatorID="0" sortOrder="1" createDate="2016-05-21T22:28:03" updateDate="2016-05-21T22:28:03" nodeName="Bookable2" urlName="bookable2" path="-1,1050,1052" isDoc="" nodeType="1049" creatorName="Lachlann Rattray" writerName="Lachlann Rattray" writerID="0" template="1048" nodeTypeAlias="bookableItem" />
  </testPage>
</root>