<div class="event-list-dialogue" ng-controller="EventListViewEditorDialog.Controller">
    <div class="Inner">
        <h1> {{model.DateTitle}}</h1>
        <h2>Events booked:</h2>
        <div class="event-row" ng-repeat="day in model.Bookings">
            <div ng-repeat="booking in day.Bookings">
                {{booking.Name}} - {{booking.StartDate | fixDate }} to {{booking.EndDate | fixDate }} <button ng-click="Approve(booking.BookingID)" ng-hide="booking.Approved">Approve</button>  <button ng-hide="booking.Cancelled">Cancel</button>
            </div>
            
        </div>
    </div>
</div>
