
<div ng-controller="UBookable.Timepicker" id="UBookable_Timepicker">
    <div style="display:inline-block;">
        <label style="display:block;">Hours</label>
        <input style="display:block; width:100px;" type="number" ng-model="model.value.hours" max="23" min="0" />
    </div>
    <div style="display:inline-block">:</div>

    <div style="display:inline-block;">
        <label style="display:block;">Minutes</label>
        <input style="display:block; width:100px;" type="number" ng-model="model.value.mins" max="59" min="0" />
    </div>
</div>
