<div class="umb-overlay umb-overlay-right"  ng-controller="MemberBookingListViewEditorDialog.Controller">
    <div class="umb-overlay-header">
        <h4 class="umb-overlay__title">{{model.DateTitle}} </h4>
        <p class="umb-overlay__subtitle">Edit existing bookings or create new ones.</p>
    </div>
    <div ng-if="modalAlerts.length > 0" class="alerts">
        <div class="alert alert-{{alert.Type}}" ng-repeat="alert in modalAlerts">
            <strong>{{alert.Title}}</strong> {{alert.Text}}
        </div>
    </div>
    <div class="event-list-dialogue umb-overlay-container">
        <h2>Current bookings </h2>
         <div class="Inner">
            <div ng-show="showBookings">
                <button class="btn" ng-click="hideCancelled = !hideCancelled">{{(hideCancelled) ? "Show cancelled bookings" : "Hide cancelled bookings"}}</button>
                <button class="btn" ng-click="hideApproved = !hideApproved">{{(hideApproved) ? "Show approved bookings" : "Hide approved bookings"}}</button>


                <div ng-repeat="booking in model.Bookings" ng-hide="(hideCancelled && booking.Cancelled) || (hideApproved && booking.Approved && !booking.Cancelled)" ng-class="{cancelled : booking.Cancelled, approved : booking.Approved}" class="event-row
                 dialogPad">
                    <a href="/umbraco/#/member/member/edit/{{booking.MemberID}}" class="details">{{booking.Name}} - {{booking.StartDate | fixDate }} to {{booking.EndDate | fixDate }}</a>
                    <button ng-click="Approve(booking.BookingID)" ng-hide="booking.Approved || booking.Cancelled" class="btn btn-primary">Approve</button>
                    <button ng-click="Cancel(booking.BookingID)" ng-hide="booking.Cancelled" class="btn btn-warning">Cancel</button>
                    <span ng-show="booking.Cancelled" class="canceled-text">Cancelled &nbsp;</span>
                    <button ng-click="Delete(booking.BookingID)" ng-show="booking.Cancelled" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>

      
    </div>

    <div class="umb-overlay-drawer dialog-footer clearfix">
        <span class="umb-button__content pull-right" ng-click="close()">Close</span>
    </div>


</div>
