@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.TestPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}

<html>
<head>
    <title> test</title>
</head>
<body>
    <h1>You bookable test page</h1>

    <script src="/scripts/ubookable/ubookable.js"></script>
    <script src="/scripts/all.js"></script>
</body>
</html>